<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vulners Proxy - status page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="description" content="Vulners proxy status page">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="application/javascript" src="/static/js/main.js"></script>

</head>
<body>

    <header>
        <div>
            <img class="logo" src="/static/img/logo.svg"/>
            <div class="header-name">Proxy status page</div>
        </div>
        <a class="btn" href="https://vulners.com/login" target="_blank">SIGN IN</a>
    </header>

    <section>
        <div class="status">
            <div id="status-on" style="display: none">
                <img src="/static/img/Tick.svg"/>
                <h1>API is Active</h1>
            </div>
            <div id="status-off" style="display: none">
                <img src="/static/img/Warning.svg" />
                <h1>API is Not Active</h1>
            </div>
            <div class="subtitle">Run date: <span id="run-date"></span></div>
        </div>

        <div class="error" id="error" style="display: block">
            <h2 id="error-title"></h2>
            <div id="error-msg"></div>
        </div>

        <div class="tags">
            <div class="tag">
                <div class="value" id="saved-credits">-</div>
                <div class="title">Saved credits</div>
            </div>
            <div class="tag">
                <div class="value" id="credit">-</div>
                <div class="title">License credits left</div>
            </div>
            <div class="tag">
                <div class="value" id="cache-size">-</div>
                <div class="title">Cache size Mb</div>
            </div>
        </div>

        <div id="statistic" style="display: none">
            <h2>Actions statistic</h2>
            <div class="statistic">
                <table>
                    <tbody id="statistic-body"></tbody>
                </table>
            </div>
        </div>

        <div id="license-container" style="display: none">
            <h2>Current License</h2>
            <div class="license">
                <div class="license-status" id="license-status">
                    <div class="badge"></div>
                    <div id="license-type"></div>
                    <div class="license-subtitle">&nbsp; - <span id="license-active"></span></div>
                </div>
                <div class="license-data">Exp: <span id="license-exp"></span></div>
            </div>
        </div>

    </section>
    <footer>
        <div>
            @<span id="year"></span>&nbsp;Vulners Inc.
        </div>

        <div class="menu">
            <a target="_blank" href="https://vulners.com/docs">Docs</a>
            <a target="_blank" href="https://vulners.com/company/contacts">Contacts</a>
        </div>
    </footer>
</body>
</html>